
<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Page</title>
	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
  

</body>
</html>

<body>
  

	<nav id="navbar" class="flex s-between items-center">

    <!-- LEFT : Portfolio Title -->
    <div class="logo">
        <h2>Porfolio <span>.</span></h2>
    </div>
      
 

    <!-- RIGHT : Menu -->
    <ul class="nav-col flex items-center">
        <li><a href="#home"><i class="fa fa-house"></i> Home</a></li>
        <li><a href="#about"><i class="fa fa-user"></i> About</a></li>
        <li><a href="#skills"><i class="fa fa-code"></i> Skills</a></li>
        <li><a href="#Projects"><i class="fa fa-briefcase"></i> Projects</a></li>
        <li><a href="#Contact"><i class="fa fa-envelope"></i> Contact</a></li>

        <!-- Resume Button -->
        <li>
            <a href="{% static 'pdfs/Ramela_M_S_Resume.pdf' %}" class="resume-btn">
                <i class="fa fa-file"></i> Resume
            </a>
        </li>
    </ul>

</nav>


    {% if messages %}
  <div class="messages-container d-flex flex-column align-items-center mt-3">
    {% for msg in messages %}
      <div class="alert alert-{{ msg.tags }} alert-dismissible fade show w-50 text-center" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}



        



	<!-- home section -->
	 <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h6 class="poppinss">Hi, I'm</h6>
                <h1 class="t-white">Ramela M S</h1>
                <h4 class="poppinss">Aspiring Backend Developer</h4>
                <a href="{% static 'pdfs/Ramela_M_S_Resume.pdf' %}"  target="_blank">
                    <button class="btn poppins">Resume</button></a>
                    
                
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
               
                <img src="{% static 'images/ME.png' %}" 
     			alt=""
     			style="width: 550px; height: auto; margin-left: -250px; margin-top: -100px">
            </div>

        </div>
    </section>
    <section id="about">
        <h1 class="t-center my-2 t-white f-2">About Me</h1>
        <div class="about-container flex s-around ">
            <div class=" about-left flex s-center items-center">
                <!-- Here in src replade the given link with your secondary image link -->
                <img src="{%static 'images/Rabbit sticker.png'%}" alt="" style="width: 60% ;height:auto;">
            </div>

            <div class="about-right flex">
                <div class="about-content">
                    <h1 class="t-white m-b-1 poppins">Ramela M S</h1>
                    <br>
                    <p class="t-white poppins">
                    	I’m a B.Tech student at Panimalar Engineering College pursuing Computer Science & Business Systems. I have a strong passion for software development, problem-solving, and building user-friendly applications.</p>
                    	  
                     <p class="t-white poppins">  
                        As a Freshman <span class="highlight">selected for the Amazon Future Engineer Bootcamp</span>, I have <span class="highlight">strong Python fundamentals and hands-on experience in Django and Flask web development.</span>
         
                  I have built multiple Python and web-based projects including full-stack web applications and enjoys creating reliable, user-focused software solutions.</p>
                    <p class="t-white poppins"> I am an enthusiastic learner, curious about emerging technologies, and always seeking opportunities to collaborate, innovate, and contribute to impactful projects.</p>
                  <a class="btn " id="hireme"
                        href="#Contact">Hire Me</a>
                </div>
            </div>
        </div>
    </section>
   

    <!-- Skills Section -->
    <section id="skills">
        <h1 class="t-center my-2 t-white f-2">Skills</h1>
        <div class="services-container flex s-around h-50">
        <div class=" skills-left flex s-center items-center">
            <img src="{%static 'images/laptop skills.png'%}" alt="" style="width: 60%;">
        </div>

        <div class="skills-right flex items-center">
            <div class="skillss-container">
                <div class="python bar p-relative"><span class="bar-content left t-white"> Python</span><span
                        class="bar-content right-skills t-white">99%</span></div>
                <div class="flask bar p-relative"><span class="bar-content left t-white">Flask</span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="flask-rest-api bar p-relative"><span class="bar-content left t-white">Flask Rest API</span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="flask-sqlalchemy bar p-relative"><span class="bar-content left t-white">Flask SQLAlchemy</span><span
                        class="bar-content right-skills t-white">85%</span></div>
                <div class="django bar p-relative"><span class="bar-content left t-white">Django</span><span
                        class="bar-content right-skills t-white">80%</span></div>
                <div class="mysql bar p-relative"><span class="bar-content left t-white">MySQL</span><span
                        class="bar-content right-skills t-white">50%</span></div>        
            </div>
        </div>
        </div>
    </section>
    

    <!-- Projects Section -->
    <section id="Projects">
        <h1 class=" t-center my-2 t-white f-2">Projects</h1>
        
        <div class="projects-container flex s-center">
            <div class="projects-item flex f-col s-center items-center">
               
                <h2 class="t-white poppins"><span>Social Feed Website</span></h2>
                <br>
                <p class="t-white poppins">• Built an inventory and building management system using <span class="highlight"> Flask and Flask-SQLAlchemy </span>for efficient recordkeeping, resource allocation.
				</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/Ramela-M-S/Social-Feed" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    <a href="https://social-feed-1.onrender.com/" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h2 class="t-white poppins"><span>Smart Expense Tracking Website</span></h2>
                <br>
                <p class="t-white poppins"> • Developed a responsive expense tracker using <span class="highlight"> Flask, Flask-RESTful API, and Flask-SQLAlchemy </span>for
				backend, allowing users to add, edit, and view expenses with monthly summaries.
				</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/Ramela-M-S/Expense-Tracker-Flask-API-"
                        target="_blanks" class="btn mx-1 m-top">GitHub</a>
                    <a href="https://expense-tracker-flask-aktj.onrender.com/" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h2 class="t-white poppins"><span>Inventory and Building Management System (IBMS)</span></h2>
                <br>
                <p class="t-white poppins">• Developed a Social Feed web application using <span class="highlight">Django and Cloudinary</span> to enable users to register, create posts with images, and interact with content, ensuring seamless media handling and user experience.
				</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/Ramela-M-S/IBMS-Inventory-System" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    <a href="https://ibms-inventory-system.onrender.com/" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            
           
         </div>

        </div>
    </section>

    <!-- Contact Me Section -->
    <section id="Contact" class="m-b-1">
        <h1 class=" t-center my-2 t-white f-2">Contact Me</h1>
        <br>
        <br>
        <div class="contact-container flex s-around items-centers">
            <div class="form" id="contactForm">
                <form method="post"> 
                    {% csrf_token %}
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                    </div>

                    <div class="email form-div">
                        <input type="email" name="email" id="" class="poppins" placeholder="Enter Your Email"
                            required>
                    </div>

                    <div class="phone form-div">
                        <input type="phone" name="phone_no" id="" class="poppins" placeholder="Enter Your Phone"
                            required>
                    </div>
                    
                    <div class="textarea form-div">
                        <textarea name="content" id="textarea" cols="30" rows="10" class="poppins"
                            placeholder="Enter Messages"></textarea>
                    </div>
                    <button type="submit" class="btn poppins" id="submit">Send</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer id="footer">
        <ul class="flex s-center w-80 m-auto my-2 res">
            <li><a href="#home" class="poppinss">Home</a></li>
            <li><a href="#about" class="poppinss">About</a></li>
            <li><a href="#skills" class="poppinss">Skills</a></li>
            <li><a href="#Projects" class="poppinss">Projects</a></li>
            <li><a href="#home" class="poppinss">Portfolio</a></li>
        </ul>
        <ul class="flex s-center w-80 font-awesome ">
            <a href="https://www.linkedin.com/in/ramela-m-s/" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="https://github.com/Ramela-M-S" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            </a>
                
            
        </ul>
        <p class="t-center my-2 poppins">&copy; All Rights Reserved - <span class="cpy-white poppins">Ramela M S
                </span></p>

    </footer>
     
</body> 
</html>
	

</body>
</html>
