{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portf </title>
    <link rel="icon" type="image/x-icon" href="./Images/favicon.jpeg">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<script>
  setTimeout(function () {
    const alerts = document.querySelectorAll('.alert');
    alerts.forEach(function (alert) {
      const bsAlert = new bootstrap.Alert(alert);
      bsAlert.close();
    });
  }, 3000); // 3 seconds
</script>


<body>`
    
    <!-- Navbar Section -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">Portfolio</h2>
        </div>
        <div class="right-nav">
            <ul class="flex">
                <li><a href="#home" class="t-white roboto">Home <i class="fa-solid fa-house"></i></a></li>
                <li><a href="#about" class="t-white roboto">About Me <i class="fa-solid fa-user"></i></a></li>
                <li><a href="#skills" class="t-white roboto">Skills <i class="fa-solid fa-code"></i></a></li>
                <li><a href="#Projects" class="t-white roboto">Projects <i class="fas fa-project-diagram"></i></a></li>
                <li><a href="#Contact" class="t-white roboto">Contact <i class="fa-solid fa-rocket"></i></a></li>
            </ul>
        </div>
    </nav>
{% if messages %}
<div class="messages-container">
  {% for msg in messages %}
    <div class="alert alert-info alert-dismissible fade show custom-message" role="alert">
      {{ msg }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
</div>
{% endif %}


        

    <!-- Home Section -->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h6 class="poppinss">Hi, I'm</h6>
                <h1 class="t-white">Ramela M S</h1>
                <h4 class="poppinss">Aspiring Backend Developer</h4>
                <a href="{% static 'pdfs/Ramela_M_S_Resume.pdf' %}"  target="_blank">
                    <button class="btn poppins">Resume</button></a>
                    
                
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
               
                <img src="{% static 'images/ME.png'%}" alt="">
            </div>

        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <h1 class="t-center my-2 t-white f-2">About Me</h1>
        <div class="about-container flex s-around ">
            <div class=" about-left flex s-center items-center">
                <!-- Here in src replade the given link with your secondary image link -->
                <img src="{%static 'images/Rabbit sticker.png'%}" alt="" style="width: 60%;">
            </div>

            <div class="about-right flex">
                <div class="about-content">
                    <h1 class="t-white m-b-1 poppins">Ramela M S</h1>
                    <p class="t-white poppins">
                    	I’m a B.Tech student at Panimalar Engineering College pursuing Computer Science & Business Systems. I have a strong passion for software development, problem-solving, and building user-friendly applications.</p>
                    	  
                     <p class="t-white poppins">  
                        As a Freshman <span class="highlight">selected for the Amazon Future Engineer Bootcamp</span>, I have <span class="highlight">strong Python fundamentals and hands-on experience in Django and Flask web development.</span>
         
                  I have built multiple Python and web-based projects including full-stack web applications and enjoys creating reliable, user-focused software solutions.</p>
                    <p class="t-white poppins"> I am an enthusiastic learner, curious about emerging technologies, and always seeking opportunities to collaborate, innovate, and contribute to impactful projects.</p>
                  <a class="btn " id="hireme"
                        href="#Contact">Hire Me</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
<!-- Skills Section -->
<!-- Skills Section -->
    <section id="skills">
        <h1 class="t-center my-2 t-white f-2">Skills</h1>
        <div class="services-container flex s-around h-50">
        <div class=" skills-left flex s-center items-center">
            <img src="{%static 'images/laptop skills.png'%}" alt="">
        </div>

        <div class="skills-right flex items-center">
            <div class="skillss-container">
                <div class="python bar p-relative"><span class="bar-content left t-white"> Python</span><span
                        class="bar-content right-skills t-white">99%</span></div>
                <div class="flask bar p-relative"><span class="bar-content left t-white">Flask</span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="flask-rest-api bar p-relative"><span class="bar-content left t-white">Flask Rest API</span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="flask-sqlalchemy bar p-relative"><span class="bar-content left t-white">Flask SQLAlchemy</span><span
                        class="bar-content right-skills t-white">85%</span></div>
                <div class="django bar p-relative"><span class="bar-content left t-white">Django</span><span
                        class="bar-content right-skills t-white">80%</span></div>
                <div class="mysql bar p-relative"><span class="bar-content left t-white">MySQL</span><span
                        class="bar-content right-skills t-white">50%</span></div>        
            </div>
        </div>
        </div>
    </section>

    
    <!-- Projects Section -->
    <section id="Projects">
        <h1 class=" t-center my-2 t-white f-2">Projects</h1>
        
        <div class="projects-container flex s-center">
            <div class="projects-item flex f-col s-center items-center">
               
                <h2 class="t-white poppins"><span>Social Feed Website</span></h2>
                <br>
                <br>
                <br>
                <p class="t-white poppins">• Built a social feed platform using <span class="highlight">Django with Cloudinary</span> for media storage, allowing users to create posts,
                    like, comment, and view updates in real-time.
                </p>
                <br>
                <br>
                <br>
                <div class="buttons flex s-around">
                    <a href="https://github.com/Ramela-M-S/Social-Feed" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    <a href="https://social-feed-1.onrender.com/" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h2 class="t-white poppins"><span>Smart Expense Tracking Website</span></h2>
                <br>
                <br>
                <br>
                <p class="t-white poppins"> • Developed a responsive expense tracker using <span class="highlight"> Flask, Flask-RESTful API, and Flask-SQLAlchemy </span>for
				backend, allowing users to add, edit, and view expenses with monthly summaries.
				</p>
                <br>
                <div class="buttons flex s-around">
                    <a href="https://github.com/Ramela-M-S/Expense-Tracker-Flask-API-"
                        target="_blanks" class="btn mx-1 m-top">GitHub</a>
                    <a href="https://expense-tracker-flask-aktj.onrender.com/" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h2 class="t-white poppins"><span>Inventory and Building Management System (IBMS)</span></h2>
                <br>
                <p class="t-white poppins">• Developed a Social Feed web application using <span class="highlight">Django and Cloudinary</span> to enable users to register, create posts with images, and interact with content, ensuring seamless media handling and user experience.
				</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/Ramela-M-S/IBMS-Inventory-System" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    <a href="https://ibms-inventory-system.onrender.com/" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            
           
         </div>

        </div>
    </section>
    <!-- Contact Me Section -->
    <section id="Contact" class="m-b-1">
        <h1 class=" t-center my-2 t-white f-2">Contact Me</h1>
        <br>
        <br>
        <div class="contact-container flex s-around items-centers">
            <div class="form" id="contactForm">
                <form method="post"> 
                    {% csrf_token %}
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                    </div>

                    <div class="email form-div">
                        <input type="email" name="email" id="" class="poppins" placeholder="Enter Your Email"
                            required>
                    </div>

                    <div class="phone form-div">
                        <input type="phone" name="phone_no" id="" class="poppins" placeholder="Enter Your Phone"
                            required>
                    </div>
                    
                    <div class="textarea form-div">
                        <textarea name="content" id="textarea" cols="30" rows="10" class="poppins"
                            placeholder="Enter Messages"></textarea>
                    </div>
                    <button type="submit" class="btn poppins" id="submit">Send</button>
                </form>
            </div>
        </div>
    </section>
    <!-- Footer Section -->
    <footer id="footer">
        <ul class="flex s-center w-80 m-auto my-2 res">
            <li><a href="#home" class="poppinss">Home</a></li>
            <li><a href="#about" class="poppinss">About</a></li>
            <li><a href="#skills" class="poppinss">Skills</a></li>
            <li><a href="#Projects" class="poppinss">Projects</a></li>
            <li><a href="#home class="poppinss">Portfolio</a></li>
        </ul>
        <ul class="flex s-center w-80 font-awesome ">
            <a href="https://www.linkedin.com/in/ramela-m-s/" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="https://github.com/Ramela-M-S" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
           
            
        </ul>
        <p class="t-center my-2 poppins">&copy; All Rights Reserved - <span class="cpy-white poppins">Ramela M S
                </span></p>

    </footer>
     
</body> 
</html>